body {
    background: linear-gradient(135deg, #9be15d, #00e3ae);
    font-family: "Poppins", sans-serif;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

section {
    background-color: #ffffffc2;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
}

.currency-select {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

.currency-select select {
    background-color: rgba(181, 240, 158, 0.808);
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.input-container span {
    background-color: #00d084;
    color: #fff;
    padding: 10px;
    border-radius: 8px 0 0 8px;
}

.input-container input {
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
}

button {
    background-color: #00c28a;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

button:hover {
    background-color: #00a875;
}

#cotacao {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}
